<html>
  <head>
    <title>Message HTML Title</title>
    <style>
        p{text-align: justify; font-size: 14px;}
        h3{text-align:center ;}
    </style>
  </head>
  <body>
    <div>
      <h2>Hi {{name}}!!</h2>  
     <p>We are receive a request to rest your password. 
        Kindly  enter the 6 digits given OTP numbers.</p>
            <h3>Your OTP(One Time Password): {{OTP}}</h3>
       <p> If you did'nt make this request just ignore this message.
        Otherwise you can reset you password. </p>
    </div>
  </body>
</html>